@font-face {
    font-family: "Uni Sans Heavy CAPS";
    src: url("../../fonts/UniSansHeavyCAPS.woff2") format("woff2"), url("../../fonts/UniSansHeavyCAPS.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Uni Sans Heavy Italic CAPS";
    src: url("../../fonts/UniSansHeavyItalicCAPS.woff2") format("woff2"), url("../../fonts/UniSansHeavyItalicCAPS.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Uni Sans Thin CAPS";
    src: url("../../fonts/UniSansThinCAPS.woff2") format("woff2"), url("../../fonts/UniSansThinCAPS.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Uni Sans Thin Italic CAPS";
    src: url("../../fonts/UniSansThinItalicCAPS.woff2") format("woff2"), url("../../fonts/UniSansThinItalicCAPS.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }