footer {
    background-color: $secondaryColor;
    padding: 50px;

    .footer-outer {
        display: flex;

        //> div {
        .footer-outer-col {
            width: 33.33%;
        }

        .left {
            background-color: red;
            padding: 50px;
        }
    
        .middle {
            background-color: yellow;
            padding: 50px;
        }
    
        .right {
            background-color: blue;
            padding: 50px;
        }
    }
}