/*---------------------------
############Colors###########
-----------------------------*/
$primaryColor : #003049;
$secondaryColor : #d62828;

$black : #000000;
$white: #ffffff;
$lightGray : #c8c8c8;

/*---------------------------
############Fonts###########
-----------------------------*/
$UniSansHeavyCAPS : 'Uni Sans Heavy CAPS';